@media screen and (min-width:1024px) and (max-width:1200px){
    body{
        width:100%;
    }
    header>.headerTop>.box{
        width:970px;
    }
    header>.headerDown>.navigationBar{
        width:970px;
    }
    .searchInput{
        margin-left: 50px;
    }
    .lastNews_{
        width:970px;
    }
    .banner{
        width:626.66px;
        height: 369.17px;
        background-size: 626.66px 369.17px;
    }
    .bannerTxt{
        margin-top: 200px;
    }
    .remoteControl{
        width: 323.33px;
        height: 463px;
    }
    .remoteControl>a{
        width: 323.33px;
    }
    .titleTxt{
        width:970px;
    }
    .detailedContent{
        width:970px;
    }
    .contentBBig{
        width: 485px;
        height: 569.33px;
    }
    .contentTop{
        width: 970px;
    }
    .contentBig{
        width: 465px;
        height: 569.33px;
    }
    .bigTop{
        width:463px;
        height: 287.8px;
        background-size: 463px 287.8px;
    }
    .bigDown{
        width: 463px;
        height: 279.53px;
    }
    .bigDown_1{
        width: 463px;
        height: 279.53px;
    }
    .bigDown_2{
        width: 463px;
    }
    .bigDown_2>p:nth-child(2){
        margin-left: 280px;
    }
    .contentSmall_1{
        width: 220.5px;
        height: 268.7px;
        margin-top: -549px;
        margin-left: 508px;
    }
    .Small_1Top{
        width: 220.5px;
        height: 124.47px;
    }
    .Small_1Top>a{
        width: 220.5px;
        height: 124.47px;
    }
    .Small_1Down{
        width: 202.5px;
    }
    .Small_1Down_1{
        width: 202.5px;
    }
    .Small_1Down_2{
        width: 202.5px;
    }
    .Small_1Down_2>p:nth-child(2){
        margin-left: 45px;
    }
    .contentSmall_2{
        width: 220.5px;
        height: 268.7px;
        margin-top: -549px;
        margin-left: 750px;
    }
    .Small_2Top{
        width: 220.5px;
        height: 124.47px;
    }
    .Small_2Top>a{
        width: 220.5px;
        height: 124.47px;
    }
    .Small_2Down{
        width: 202.5px;
    }
    .Small_2Down_1{
        width: 202.5px;
    }
    .Small_2Down_2{
        width: 202.5px;
    }
    .Small_2Down_2>p:nth-child(2){
        margin-left: 40px;
    }
    .contentSmall_3{
        width: 220.5px;
        height: 268.7px;
        margin-top: -250px;
        margin-left: 508px;
    }
    .Small_3Top{
        width: 220.5px;
        height: 124.47px;
    }
    .Small_3Top>a{
        width: 220.5px;
        height: 124.47px;
    }
    .Small_3Down{
        width: 202.5px;
    }
    .Small_3Down_1{
        width: 202.5px;
    }
    .Small_3Down_2{
        width: 202.5px;
    }
    .Small_3Down_2>p:nth-child(2){
        margin-left: 45px;
    }
    .contentSmall_4{
        width: 220.5px;
        height: 268.7px;
        margin-top: -270px;
        margin-left: 750px;
    }
    .Small_4Top{
        width: 220.5px;
        height: 124.47px;
    }
    .Small_4Top>a{
        width: 220.5px;
        height: 124.47px;
    }
    .Small_4Down{
        width: 202.5px;
    }
    .Small_4Down_1{
        width: 202.5px;
    }
    .Small_4Down_2{
        width: 202.5px;
    }
    .Small_4Down_2>p:nth-child(2){
        margin-left: 45px;
    }
    .contentDown_1{
        width: 220.5px;
        height: 268.7px;
    }
    
    .contentDown_1Top{
        width: 220.5px;
        height: 124.47px;
    }
    .contentDown_1Top>a{
        width: 220.5px;
        height: 124.47px;
    }
    .contentDown_1Down{
        width: 220.5px;
    }
    .contentDown_1Down_1{
        width: 202.5px;
    }
    .contentDown_1Down_2>p:nth-child(2){
        margin-left: 40px;
    }
    .contentDown_2{
        width: 220.5px;
        height: 268.7px;
    }
    
    .contentDown_2Top{
        width: 220.5px;
        height: 124.47px;
    }
    .contentDown_2Top>a{
        width: 220.5px;
        height: 124.47px;
    }
    .contentDown_2Down{
        width: 220.5px;
    }
    .contentDown_2Down_1{
        width: 202.5px;
    }
    .contentDown_2Down_2>p:nth-child(2){
        margin-left: 40px;
    }
    .contentDown_3{
        width: 220.5px;
        height: 268.7px;
        margin-left: 43px;
    }
    
    .contentDown_3Top{
        width: 220.5px;
        height: 124.47px;
    }
    .contentDown_3Top>a{
        width: 220.5px;
        height: 124.47px;
    }
    .contentDown_3Down{
        width: 220.5px;
    }
    .contentDown_3Down_1{
        width: 202.5px;
    }
    .contentDown_3Down_2>p:nth-child(2){
        margin-left: 40px;
    }
    .contentDown_4{
        width: 220.5px;
        height: 268.7px;
    }
    
    .contentDown_4Top{
        width: 220.5px;
        height: 124.47px;
    }
    .contentDown_4Top>a{
        width: 220.5px;
        height: 124.47px;
    }
    .contentDown_4Down{
        width: 220.5px;
    }
    .contentDown_4Down_1{
        width: 202.5px;
    }
    .contentDown_4Down_2>p:nth-child(2){
        margin-left: 40px;
    }
}